:root {
    --primary: #3bd1ff;
    --secondary: #fcff57;
    --tertiary: red;
    --light-dark: grey;
    --dark: black;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "cursive", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 13px; 
   } 
  
 h1{
    font-weight: 300;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  h2 {
      background-color: rgb(245, 248, 45);
  }
  main {
    margin: 20px auto;
    width: 94%;
  }
  
   p {
    font-size: 3rem;
  } 
  
    .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 25%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
   
  .dashboard {
    padding: 1% 2%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .dashboard p {
    max-width: 50%;
  }
  
  .app-title {
    font-size: 8em;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 2px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark); 
  }
  

  
  
  
  CARDS
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  
  
   .form-input {
    width: 25%;
    margin: 0px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius); 
    position: relative;
  
  
  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }  
 
  
  
